// Place all the styles related to the centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
  color:white;
}

h4 {
  color:white;
}

#map-canvas {
  float: left;
  height: 500px !important;
  width: 500px !important
}

#directions-panel {
  height: 500px !important;
  width: 200px !important;
}



