// Place all the styles related to the centers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("http://fonts.googleapis.com/css?family=Lato:700");

html, body, #map_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.max-height {
  height: 100%;
}

body {
  background-color: white;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.map-panel {
  padding-right: 0;
}

// yelp result css
.yelp-result {
  padding: 8px 8px 0px 8px;
  height: 33%;
  background-color: rgba(179, 209, 255, 0.6);
}

.yelp-result:hover {
  background-color: rgba(179, 209, 255, 0.4);
  h2 a {
    color: #FA9E25;
  }
}

.inactive-yelp {
  display: none;
}

.active-yelp {
  display: block;
}

p.yelp-point {
  margin-bottom: 5px;
}

.all-yelp-results-div {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  right: 0;
}

.yelp-result-h2 {
  margin: 0;
}

// google directions panel

#directions-panel {
  padding-top: 10px;
  display: none;
  background-color: white;
  padding-left: 5px;
}

.adp-warnbox {
  display: none;
}

// For fancybox

input#close-this[type=submit] {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px 0px;
    margin: 15px 0px;
    text-transform: uppercase;
    position: relative;
    background: rgba(52, 152, 219,1.0);
    box-shadow: 0 6px #527a52;
    font-family: "Lato", "sans-serif";
    font-style: italic;
    font-weight: 800;
    font-size: 1.2em;
    color: white;
    border-radius: 0 0 5px 5px;

    &:hover{
    box-shadow: 0 4px #527a52;
    top: 2px;
    }

    &:active{
      box-shadow: 0 0 #527a52;
      top: 6px;
    }

  }
