// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("http://fonts.googleapis.com/css?family=Lato:700");

h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;

}

.form-group label{
  color: rgb(127, 140, 141);
  text-align: center;
}

body.points {
  background: url(caught_wills_eye_edited.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#vcenter {
    padding-top: 100px;
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

