<!DOCTYPE html>
<html>
<head>
  <title>BetweenUNMe</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container max-height">
    <div class="row max-height">
      <div class="col-md-12 col-sm-12 col-xs-12 max-height">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
